.main-banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 560px;
  background: url('../images/main-bg.webp') no-repeat center/contain;
  @media screen and (max-width: 575px) {
    min-height: 400px;
    & div {
      max-width: 80%;
    }
  }
}

.tour-banner{
  margin: 50px;
  @media screen and (max-width: 768px) {
    margin: 0;
  }
  video{
    width: 100%;
  }
}