.footer {
  @include flex-space-between;
  margin-top: 40px;
  @media screen and (max-width: 575px) {
    flex-direction: column;
    gap: 20px;
  }
  &__logo-year {
    @include flex-center;
    flex-direction: column;
    row-gap: 5px;
    font-size: 10px;
    @media screen and (max-width: 575px) {
      order: 2;
    }
  }
  &__form-subscribe {
    @include flex-center;
    flex-direction: column;
    row-gap: 10px;
    @media screen and (max-width: 575px) {
      order: 1;
    }
    & label {
      display: block;
      width: 100%;
      text-align: start;
      color: $light;
      font-size: 14px;
    }
    & input {
      background-color: $dark-grey;
      padding-left: 15px;
      height: 30px;
      color: $light;
      &::placeholder {
        color: $light;
      }
    }
    & button {
      @include flex-space-between;
      height: 30px;
      width: 100%;
      transition: background-color 0.5s;
      cursor: pointer;
      color: $primary;
    }
  }
}
