.tour-items {
  &__wrapper {
    margin-top: 50px;
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
  }

  &__line{
    margin-bottom: 15px;
  }
}

.tour-item {
  height: 105px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  &__date {
    font-weight: 900;
    margin-bottom: 15px;
  }
  &__location {
    font-size: 24px;
    font-weight: 700;
  }
  &__button {
    @include flex-space-between;
    width: 225px;
    height: 40px;
    padding: 10px;

    color: $primary;
    background-color: $light;
    transition: background-color 0.5s;
    &:hover {
      background-color: $action;
    }
  }
  &__line {
    grid-column: 1/4;
  }
}
