.tour-items {
  &__wrapper {
    margin-top: 50px;
    position: relative;
    z-index: 2;
  }
}

.tour-item {
  height: 100px;
  display: grid;
  grid-template-areas: 'date-clubName location button';
  grid-template-columns: min-content auto min-content;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid $grey;

  @media screen and (max-width: 768px) {
    height: 80px;
    font-size: 14px;
  }
  @media screen and (max-width: 575px) {
    height: auto;
    padding: 15px 0;
    grid-template-areas:
      'date-clubName location'
      'button  button';
  }
  &__wrapper-date-club-name {
    grid-area: date-clubName;
  }
  &__date {
    font-weight: 900;
    margin-bottom: 15px;
  }
  &__location {
    grid-area: location;
    justify-self: center;
    font-size: 24px;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      justify-self: end;
    }
    @media screen and (max-width: 575px) {
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__button {
    grid-area: button;
    @include flex-space-between;
    width: 225px;
    height: 40px;
    padding: 10px;

    color: $primary;
    background-color: $light;
    transition: background-color 0.5s;
    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }
  &__line {
    grid-column: 1/4;
  }
}
