.tracks {
  &-section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    &-item {
      display: grid;
      grid-template-areas:
        'image date'
        'name .';
      grid-template-columns: 300px 1fr;
      gap: 15px;
      text-transform: uppercase;

      @media screen and (max-width: 992px) {
        grid-template-columns: 250px 1fr;
        column-gap: 15px;
      }
      @media screen and (max-width: 575px) {
        gap: 5px;
        grid-template-areas:
          'image date'
          'image name';
        grid-template-columns: 200px 1fr;
        grid-template-rows: max-content 1fr;
      }
      @media screen and (max-width: 450px) {
        grid-template-columns: 150px 1fr;
      }
      &:nth-child(odd) {
        margin-left: auto;
        grid-template-areas:
          'date image'
          '. name';
        grid-template-columns: 1fr 300px;
        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr 250px;
        }
        @media screen and (max-width: 575px) {
          grid-template-areas:
            'date image'
            'name image';
          grid-template-columns: 1fr 200px;
        }
        @media screen and (max-width: 450px) {
          grid-template-columns: 1fr 150px;
        }
        & .tracks-section-item__date {
          justify-self: end;
        }
        & .tracks-section-item__name {
          @media screen and (max-width: 575px) {
            text-align: end;
          }
        }
      }
      &__date {
        grid-area: date;
        @media screen and (max-width: 575px) {
          font-size: 12px;
        }
      }
      &__name {
        grid-area: name;
        @media screen and (max-width: 575px) {
          font-size: 14px;
          line-height: 16px;
        }
      }
      &__img {
        grid-area: image;
        position: relative;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          max-width: 250px;
        }
        .icon-pause,
        .icon-play {
          @include absolute-center;
          fill: $light;
        }
      }
      &__icon {
        width: 100px !important;
        height: 100px !important;
        @media screen and (max-width: 575px) {
          height: 50px !important;
          width: 50px !important;
        }
      }
    }
  }
  &-page {
    &-item {
      display: grid;
      grid-template-areas:
        'image info'
        'image button';
      grid-template-rows: 1fr min-content;
      gap: 30px;
      margin-bottom: 40px;
      @media screen and (max-width: 768px) {
        grid-template-columns: max-content 1fr;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media screen and (max-width: 680px) {
        grid-template-areas:
          'image image'
          'info info'
          'button button';
      }
      @media screen and (max-width: 575px) {
        gap: 10px;
      }
      &__img {
        grid-area: image;
        width: 100%;
        height: 300px;
      }
      &__info-section {
        grid-area: info;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }
      &__description {
        line-height: 24px;
        font-size: 16px;
        font-weight: 300;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
      &__name {
        font-size: 30px;
        line-height: 30px;
        @media screen and (max-width: 575px) {
          font-size: 24px;
          line-height: 24px;
        }
      }
      &__button {
        @include flex-space-between;
        grid-area: button;
        width: 200px;
        padding: 10px;
        color: $primary;
        cursor: pointer;
        font-weight: 700;
        text-transform: uppercase;
        transition: background-color 0.5s;
        @media screen and (max-width: 680px) {
          width: 100%;
        }
      }
    }
  }
}
